.footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #A5410F;
}