.postCard-section {
  background-color: white;
  min-height: 550px;
  max-width: 550px;
  min-width: 550px;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.user-post-body {
  padding-top: 10px;
}

.postCard-img {
  max-width: 550px;
  max-height: 550px;
  padding-top: 30px;
}

.postCard-username {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 4px;
}

.postCard-date {
  color: #7c7c7c;
  font-size: 14px;
}
