* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Uber Move", Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  min-width: 360px;
  color: #000000;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Uber Move";
  src: url('./assets/fonts/UberMove-Bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Uber Move";
  src: url('./assets/fonts/UberMove-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Uber Move";
  src: url('./assets/fonts/UberMove-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Uber Move";
  src: url('./assets/fonts/UberMove-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}