.agentdetail-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #363636;
}

.agentdetail-title {
  padding: 10px 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.agentdetail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.agentdetail-image {
  margin-bottom: 30px;
}

.agentedetail-description {
  width: 50%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.agentdetail-back-button {
  width: 100px;
  height: 40px;
  margin-top: 90px;
  font-size: 24px;
  border: transparent;
  color: #ffffff;
  background-color: #363636;
}