.login-screen {
  width: 100%;
  height: 100vh;
  background-image: url('../../../assets/morando-sozinho.jpg');
  background-size: cover;
}

.button-space {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
