.container__ {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 2;
    padding: 0 20px;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}