.motorista__ {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.motoristas__div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

.motoristas__div--motorista {
    text-decoration: none;
    color: black;
}

.motorista__corridas {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}